#navbar-icon {
    margin: 25px auto 5px auto;
    display: none;
    width: 16px;
    height: 16px;
    background-image: url('../../Static/close-cross.png');
    background-size: cover;
    filter: invert();
}

/* @media only screen and (max-width: 900px) {
    
    #navbar-icon {
        margin-top: 20px;
        display: block;
    }

} */