p.support-widget-title {
    display: inline-block;
    font-size:18px;
    text-transform: uppercase;
    margin : 20px 0;
    border-bottom : 2px dashed rgb(190, 66, 66);
    border-top: 2px solid rgb(148, 45, 45);
    padding: 10px 0;
}

p.support-widget-info {
    padding: 5px 0 20px 0;
    font-style: italic;
}

img.support-widget-cover {
    max-width: 400px;
} 

div#support-widget-container {
 display : inline-block;
 width: 450px;
 margin: 20px;
 text-align: center;
 vertical-align: top;
}