.support-item {
    background-color: rgba(88, 88, 88,0.8);
    display: inline-block;
    padding-top: 7px;
    margin: 10px;
    width: 250px;
    height: 360px;
    border-radius: 5px;
    vertical-align : top;
}

.support-cover {
    width: 200px;
}

.support-title {
    padding: 15px 15px 0 15px;
    text-decoration: none;
    color: white;
    line-height: 1.5em;
}