.support-item {
    background-color: rgb(70, 58, 58);
    display: inline-block;
    padding-top: 7px;
    margin: 10px;
    width: 250px;
    border: solid 2px rgb(53, 53, 53);
    border-radius: 5px;
    vertical-align : top;
}

.support-cover {
    width: 200px;
}

.support-title {
    padding: 15px 15px 0 15px;
    text-decoration: none;
    color: white;
    line-height: 1.5em;
}