.release-cover {
    width: 256px;
    filter: saturate(0.7);

}

.release-card {
    display: inline-block;
    margin: 10px;
    width: 256px;
    height: 256px;
    border: solid 2px rgb(53, 53, 53);
    border-radius: 5px;
}

.release-card:hover .release-hover {
    visibility: visible;
    
}

.release-hover {
    visibility: hidden;
    background-color: rgba(43, 42, 42, 0.753);
    width: 260px;
    height: 260px;
    z-index: 2;
    position: absolute;
}

.icon {
    width: 20px;
    margin: 8px;
    position: relative;
    top: 180px;
}
.small-icon {
    width: 27px;
    margin: 8px;
    position: relative;
    top: 180px;
}

.artist-name {
    margin-top: 10px;
}

.title {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(196, 195, 195);
}



