

.press-item {

    background-color: rgb(70, 58, 58);
    display: inline-block;
    margin: 10px;
    width: 260px;
    height: 346px;
    border: solid 2px rgb(53, 53, 53);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(110, 17, 17, 0.2), 0 6px 20px 0 rgba(110, 17, 17, 0.19);
}

.press-cover {
    margin: 10px;
    width: 230px;
    height: 180px;
}

.release-button {
    background-color:  rgb(110, 17, 17);
    padding: 8px;
    text-decoration: none;
    color: white;
    display: block;
    width: 130px;
    margin: 30px auto;
    font-size: 0.8em;
    border-radius: 5px;
    
}

.release-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.article-title {
    padding: 10px;
    text-decoration: none;
    color: white;
    line-height: 1.5em;
}
.article-title:hover {
    text-shadow: 2px 3px black;
    cursor: pointer;
}