.player {
    background-color: white;
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 0;
    text-align: center;
    z-index: 3;
    color: black;
}

.cover {
    width: 50px;
    display: inline-block;
}
.player-title {
    display: inline-block;
    position: relative;
    bottom: 20px;
    margin-left: 20px;
}
.player audio {
    display: inline-block;
    width: 500px;
    margin-left: 15px;
}

.player .download-icon {
    width: 30px;
    position: relative;
    bottom: 10px;
}

.player span {
    position: absolute;
    right: 40px;
    bottom: 20px;
    cursor: pointer;
}